@using Finbuckle.MultiTenant.Abstractions
@inject IMultiTenantContextAccessor<DemoTenantInfo> TenantAccessor

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MultiTenantBlazorDemo</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@($"{TenantAccessor.MultiTenantContext?.TenantInfo?.Identifier}/counter")>
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@($"{TenantAccessor.MultiTenantContext?.TenantInfo?.Identifier}/logs") >
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Logs
            </NavLink>
        </div>
    </nav>
</div>


<h1>Tenant: @TenantAccessor.MultiTenantContext?.TenantInfo?.Identifier</h1>

